<!--views/partials/footer.ejs-->
<footer id="footer" >
    <p class="text-center text-muted">Copyright <label id="cryear">2017</label> Westlands Water District</p>
</footer>
<script src="/js/menucode.js"></script>
