<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<p>Add Sensor</p>
<hr>
<form id="frmsensoradd" action="/sensor/add" method="post" >
<label>Name:</label><input type="text" name="itm_name" placeholder="Name"><br>
<label>IP:</label><input type="text" name=itm_ip" placeholder="IP Address"><br>
<label>Tempurature OID</label><input type="text" name="itm_temp" placeholder="Tempurature"><br>
<label>Warning: </label><input type="text" name="itm_warning" placeholder="warning"><br>
<label>Alarm:</label><input type="text" name="itm_alarm" placeholder="alarm"><br>
<input type="submit" value="OK">
</form>

</body>
</html>