<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<p>Add Sensor</p>
<hr>
<label>Name:</label><input type="text" id="itm_name" placeholder="Name"><br>
<label>IP:</label><input type="text" id=itm_ip" placeholder="IP Address"><br>
<label>Tempurature OID</label><input type="text" id="itm_temp" placeholder="Tempurature"><br>
<label>Warning: </label><input type="text" id="itm_warning" placeholder="warning"><br>
<label>Alarm:</label><input type="text" id="itm_alarm" placeholder="alarm"><br>


</body>
</html>