<!DOCTYPE html>
<html>
<% include ./partials/head.ejs %>
<body>
<% include partials/menu.ejs %>
<div id="main">

    <h1><%= title %></h1>
    <hr>


    <hr>
    <button type="button" onclick="addBtn()">Add</button>

</div>
<% include  ./partials/footer.ejs %>
</body>
<script>
    function addBtn() {
      window.location.assign('/sensor/add');
    }

</script>
</html>